:host {
  background-color: white;
  padding: 48px;
  overflow-y: auto;
}

.login-head-text{
  margin-bottom: 24px;
}

.login-input{
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}

.login-button{
  margin-top: 48px;
  width: 100%;
}

.login-bottom{
  padding: 32px;
}

.dash {
  border: 1px solid rgba(128, 128, 128, 0.54);
  display: inline-block;
  margin: 8px;
  width: 48px;
}

.text-align-center {
  text-align: center;
}
