<div mdc-typography-title
    ngClass.xs="text-align-center"
    ngStyle.gt-sm="margin-top: 32px;">
    <strong>立刻以极优惠价格<br>购买爆款产品</strong>
</div>
<!-- <div style="margin-bottom: 24px;" ngClass.xs="text-align-center">立刻以极优惠价格购买爆款产品</div> -->
<div style="margin-top:10px;margin-bottom:10px;">您选择的商品是:<br/><strong style="color:brown;">{{ loadingService.cue_goodsname }}</strong></div>
<form (ngSubmit)="checkout($event)" [formGroup]="loginForm">
     <mdc-textfield-box type="text"
                        label="收货人名称"
                        [required]="true"
                        formControlName="name"
                        (keydown.space)="$event.preventDefault();"
                        class="checkout-input">
                        <mdc-icon leading>&#xE7FD;</mdc-icon>
     </mdc-textfield-box>
     <p mdc-textfield-helptext [validation]="true">{{ getErrorMessage(loginForm.controls['name']) }}</p>
     <mdc-textfield-box type="tel"
                        label="联系电话"
                        [required]="true"
                        formControlName="contact"
                        (keydown.space)="$event.preventDefault();"
                        class="checkout-input">
                        <mdc-icon leading>&#xE0CD;</mdc-icon>
     </mdc-textfield-box>
     <p mdc-textfield-helptext [validation]="true">{{ getErrorMessage(loginForm.controls['contact']) }}</p>
     <mdc-textarea label="送货地址"
                   rows="5"
                   [required]="true"
                   formControlName="address"
                   class="checkout-input">
    </mdc-textarea>
    <p mdc-textfield-helptext [validation]="true">{{ getErrorMessage(loginForm.controls['address']) }}</p>
    <div fxLayout="row">
      <mdc-icon style="margin-left: 8%">add_shopping_cart</mdc-icon>
      <button type="button" mdc-button (click)="loginForm.value.quantity = loginForm.value.quantity <= 1 ? loginForm.value.quantity : loginForm.value.quantity - 1">
        <mdc-icon>remove</mdc-icon>
      </button>
      <input type="text" [required]="true" formControlName="quantity" readonly="true" style="min-width: 0;border: none;" [value]="loginForm.value.quantity">
      <button type="button" mdc-button (click)="loginForm.value.quantity = loginForm.value.quantity + 1">
        <mdc-icon>add</mdc-icon>
      </button>
    </div>
    <mdc-textfield-box type="password"
                       label="二级密码"
                       [required]="true"
                       formControlName="password"
                       (keydown.space)="$event.preventDefault();"
                       class="checkout-input resize">
                       <mdc-icon leading>&#xE897;</mdc-icon>
    </mdc-textfield-box>
    <p mdc-textfield-helptext [validation]="true">{{ getErrorMessage(loginForm.controls['password']) }}</p>
     <button mdc-button
             type="submit"
             class="checkout-button"
             secondary="true"
             raised="true"
             [disabled]="isLoading">
             立即抢购
     </button>
</form>
<div fxHide.gt-xs class="checkout-bottom" fxLayout="row" fxLayoutAlign="center center"><span class="dash"></span>或<span class="dash"></span></div>
<div fxHide.gt-xs class="text-align-center"><a href="javascript:void(0)" (click)="hideForm();">返回</a></div>
