.navbar-head{
  text-decoration: none;
  color: white;
}
.navbar-content-bgimg{
  background:url('/assets/images/home-background-1000x1000.jpg');
  height: 100%;
}
.navbar-content-bg{
  background-color: rgba(255,255,255,0.87);
  height: 100%;
}

.navbar-content-head{
  padding: 16px;
  text-align: center;
}
