<div style="margin-top:65px;">
<div *ngFor="let goodsorderinfor of goodsorderinfor" class="orderform" mdc-elevation="2" fxLayout="row" fxLayout.xs="column" ngStyle.xs="height: 448px;">
<div fxFlex="40%" class="jm-image-container">
    <img style="width:100%;height:100%;" src="/v1/mall/goods-image/{{ goodsorderinfor.mallOrdersGoodsSet['0'].goods.goodsPicture }}?access_token={{authentication.getInfo().accessToken}}" />
  </div>

  <div fxFlex fxLayout="column" class="orderform-content">
    <div fxLayout="row" class="orderform-content-border">
      <div fxLayout="column" fxFlex fxFlex="30%">
        <span mdc-typography-subheading2>商品名称:</span>

        <span mdc-typography-subheading2>购买价格:</span>

        <span mdc-typography-subheading2>购买数量:</span>

        <span mdc-typography-subheading2>收货名称:</span>

        <span mdc-typography-subheading2>联系电话:</span>

        <span mdc-typography-subheading2>送货地址:</span>

      </div>
      <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center end">
        <span mdc-typography-subheading1 class="text-right">{{ goodsorderinfor.mallOrdersGoodsSet['0'].goods.goodsName }}</span>

        <span mdc-typography-subheading2 class="text-right">¥{{ goodsorderinfor.mallOrdersGoodsSet['0'].price }}</span>

        <span mdc-typography-subheading2 class="text-right">{{ goodsorderinfor.mallOrdersGoodsSet['0'].quantity }}{{ goodsorderinfor.mallOrdersGoodsSet['0'].goods.goodsUnit }}</span>

        <span mdc-typography-subheading2 class="text-right">{{ goodsorderinfor.consigneeName }}</span>

        <span mdc-typography-subheading2 class="text-right">{{ goodsorderinfor.consigneePhone }}</span>

        <span mdc-typography-subheading2 class="text-right">{{ goodsorderinfor.consigneeAddress }}</span>

      </div>
    </div>
  </div>

</div>
</div>
